# ignore clab lab dir
clab-*
!validated-designs/collapsed-spine/collapsed-spine-with-ansible/tools/clab-network-tester

# ignore clab bak files
**/*.yaml.bak
**/*.yml.bak

# ignore Python bytecode
**/__pycache__/
*.pyc
